body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  color: #fff;
  background: #849d8f;
}

h1,
h2 {
  margin: 0 0;

  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* wrapper */
.wrapper {
  width: 1146px;
  margin: 0 auto;
  padding-right: 27px;
  padding-left: 27px;
}

.header-top {
  padding-top: 10px;
}

/* logo */
.logo {
  float: left;

  margin-left: -5px;
}

/* main-navigatoin */
.main-navigatoin {
  float: left;

  max-width: 600px;
}

.main-menu {
  padding-top: 13px;
  padding-left: 16px;

  list-style: none;

  font-size: 0;
}

.menu-item {
  position: relative;

  display: inline-block;
  vertical-align: top;

  padding: 7px 14px;
  padding-bottom: 0;

  border-radius: 14px;
}

.menu-item a {
  text-decoration: none;

  font-size: 16px;
  font-weight: 700;
  line-height: 18px;

  color: #fff;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255,255,255,.2);
}

.menu-item:hover > a {
  color: #333;
}

.menu-item:hover {
  background: #f8f7f4;
}

li.active {
  background: #d07058;
}

.active a {
  border: none;
}

/* sub-navigatoin */
.wrapper-menu {
  position: absolute;
  top: 27px;
  left: 0;

  display: none;

  width: 100%;
  padding-top: 20px;
}

.sub-menu {
  position: absolute;
  top: 12px;
  left: 0;
  z-index: 2;

  display: none;

  width: 143px;
  padding: 0;

  list-style: none;

  font-size: 0;

  color: #323232;
  border-radius: 5px;
  background: #f8f7f4;
}

.sub-menu li:first-child {
  margin-bottom: 7px;

  border-bottom: 1px solid;
  border-bottom-color: rgba(129,129,129,.2);
}

.sub-menu a {
  display: block;

  width: 123px;
  min-height: 22px;
  padding-top: 6px;
  padding-left: 21px;

  text-decoration: none;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  color: #323232;
}

.sub-menu span {
  display: block;

  padding: 11px 21px;

  font-size: 14px;
  font-weight: bold;
  line-height: 16px;

  color: #323232;
}

.menu-item:hover .sub-menu {
  display: block;
}

.sub-menu a:hover {
  color: #323232;
  background: #fbded7;
}

.sub-menu a:active {
  background: #f6b5a5;
}

.sub-menu li:last-child {
  margin-bottom: 7px;
}

a.active-sub-menu {
  color: #fff;
  background: #d07058;
}

/* user-block */
.user-block {
  float: right;

  max-width: 360px;
  margin-top: 13px;

  font-size: 0;
}

/* search */
.user-search {
  position: relative;

  display: inline-block;
  vertical-align: top;
  vertical-align: top;

  margin-right: 10px;
  padding: 8px 8px;

  line-height: 17px;

  border-radius: 50%;
  background-color: rgba(255,255,255,.2);
}

.user-search a {
  display: inline-block;
  vertical-align: top;

  text-decoration: none;

  line-height: 17px;
}

.user-search img {
  display: inline-block;
  vertical-align: top;
}

.search {
  display: none;

  width: 311px;
  padding: 20px 15px;

  border-radius: 5px;
  background: #f8f7f4;
}

.input-search {
  width: 100%;
  padding: 9px 10px;

  font-size: 14px;
  line-height: 24px;

  color: #323232;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
}

.user-search:hover .search {
  position: absolute;
  top: 10px;
  left: -311px;
  z-index: 10;

  display: block;
}

/* login */
.user-login {
  position: relative;

  display: inline-block;
  vertical-align: top;

  margin-right: 10px;
  padding: 5px 16px;

  border-radius: 20px;
  background-color: rgba(255,255,255,.2);
}

.user-login > a {
  display: inline-block;
  vertical-align: middle;

  text-decoration: none;

  font-size: 14px;
  line-height: 16px;

  color: #fff;
}

.user-login img {
  display: inline-block;
  vertical-align: middle;

  margin-right: 8px;
}

.login {
  position: relative;

  display: none;

  width: 239px;
  padding: 20px 19px;

  border-radius: 5px;
  background: #f8f7f4;
}

.user-login:hover .login {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 10;

  display: block;
}

.label-search {
  position: absolute;
  top: 3px;
  left: 24px;

  display: none;

  font-size: 11px;
  line-height: 13px;

  color: #5b9ddf;
}

.label-email {
  position: absolute;
  top: 3px;
  left: 34px;

  display: none;

  font-size: 11px;
  line-height: 13px;

  color: #5b9ddf;
}

.label-subscribe {
  position: absolute;
  top: -15px;
  left: 15px;

  display: none;

  font-size: 11px;
  line-height: 13px;

  color: #5b9ddf;
}

.label-password {
  position: absolute;
  top: 66px;
  left: 34px;

  display: none;

  font-size: 11px;
  line-height: 13px;

  color: #5b9ddf;
}

.input-email,
.input-password {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  padding: 9px 14px;

  font-size: 14px;

  color: #323232;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
}

.input-search:hover,
.input-email:hover,
.input-password:hover {
  border: solid 1px #9a9a9a;
  box-shadow: 0 0 0 1px #9a9a9a;
}

.input-search:focus + .label-search,
.input-email:focus + .label-email,
.input-password:focus + .label-password,
.email-subscribe:focus + .label-subscribe {
  display: block;
}

.button-link {
  display: inline-block;

  font-size: 13px;
  line-height: 16px;

  color: #000;
}

.btn-login {
  display: block;
  float: left;

  max-width: 96px;

  margin-right: 20px;
}

.user-cart {
  position: relative;

  display: inline-block;
  vertical-align: top;

  min-width: 85px;
  padding: 5px 16px;

  border-radius: 20px;
  background-color: rgba(255,255,255,.2);
}

.user-cart > a {
  display: inline-block;
  vertical-align: middle;

  text-decoration: none;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  color: #fff;
}

.user-cart-img {
  display: inline-block;
  vertical-align: middle;

  margin-right: 8px;
}

.cart {
  display: none;

  width: 540px;
  padding: 20px 19px;

  color: #323232;
  border-radius: 5px;
  background: #f8f7f4;
}

.user-cart:hover .cart {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 10;

  display: block;
}

.main-menu li:hover .wrapper-menu,
.user-search:hover .wrapper-menu,
.user-login:hover .wrapper-menu,
.user-cart:hover .wrapper-menu {
  display: block;
}


.btn-cart {
  cursor: pointer;

  border: none;
  background: transparent;
}

.cart-table {
  font-size: 13px;
}

.cart-table img {
  padding-right: 10px;
}

.name-item {
  width: 230px;
}

.item-weight {
  text-align: right;
}

.multiplier {
  text-align: center;
}

.item-cost {
  color: #999;
}

.cart p {
  padding-top: 15px;

  text-align: right;

  font-size: 15px;
  font-weight: bold;
  line-height: 18px;

  border-top: solid 1px #cacac7;
}

.cart a {
  display: inline-block;
  float: right;

  text-decoration: none;
}

.mode {
  clear: both;

  margin-top: 63px;

  text-align: right;

  font-weight: 700;
}

.mode p {
  margin-top: 0;
  margin-bottom: 4px;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.mode span {
  font-size: 22px;
  line-height: 24px;
}

/* slider */
body > input[type="radio"] {
  display: none;
}

.wrapper-background::before,
.wrapper-background::after {
  content: "";
  visibility: hidden;
}

.wrapper-background::before {
  background-image: url("../img/background-slider-2.png");
}

.wrapper-background::after {
  background-image: url("../img/background-slider-3.png");
}

.wrapper-background {
  min-width: 1200px;

  transition: background-image .5s ease, background-color .5s ease;

  background-color: #849d8f;
  background-image: url("../img/background-slider-1.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.no-slider {
  background-image: none;
}

.slider {
  position: relative;

  padding-top: 275px;

  text-align: center;

  color: #fff;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}

.slide-btn {
  display: inline-block;
  vertical-align: top;

  padding: 9px 40px;

  text-decoration: none;

  font-size: 32px;
  font-weight: 700;
  line-height: 44px;

  color: #fff;
  border-radius: 100px;
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74b36 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
}

.slide-btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background: linear-gradient(to bottom, #d74632 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(148, 39, 24, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  bottom: 19px;
  left: 0;
  z-index: 3;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  vertical-align: top;

  width: 17px;
  height: 17px;
  margin-right: 8px;

  cursor: pointer;

  border: solid 2px #fff;
  border-radius: 50%;
  background-color: transparent;
}

.slider-controls label:hover {
  background: rgba(248,247,244,.4);
}

#btn-1:checked ~ .wrapper-background #slide1,
#btn-2:checked ~ .wrapper-background #slide2,
#btn-3:checked ~ .wrapper-background #slide3 {
  display: block;
}

#btn-1:checked ~ .wrapper-background label[for="btn-1"],
#btn-2:checked ~ .wrapper-background label[for="btn-2"],
#btn-3:checked ~ .wrapper-background label[for="btn-3"] {
  background-color: #fff;
}

#btn-1:checked ~ .wrapper-background {
  background-color: #849d8f;
  background-image: url("../img/background-slider-1.png");
}

#btn-2:checked ~ .wrapper-background {
  background-color: #8996a6;
  background-image: url("../img/background-slider-2.png");
}

#btn-3:checked ~ .wrapper-background {
  background-color: #9d8b84;
  background-image: url("../img/background-slider-3.png");
}

/* banner */
.banner {
  box-sizing: border-box;
  width: 560px;
  min-height: 229px;
  padding: 15px 20px 23px 20px;

  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.banner p {
  margin-top: 16px;
}

.raspberries {
  float: left;

  border-radius: 15px;
  background: url("../img/banner-left.jpg");
  background-color: #520917;
}

.chocolate {
  float: right;

  border-radius: 15px;
  background: url("../img/banner-right.jpg");
  background-color: #663313;
}

.banner-btn {
  display: block;
  float: right;

  margin-top: 25px;
  padding: 11px 23px;

  text-decoration: none;

  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

  color: #fff;
  border-radius: 100px;
  background: linear-gradient(to bottom, #f26843 0%, #e74b36 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
}

.banner-btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.banner-btn:active {
  background: linear-gradient(to bottom, #d74632 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(148, 39, 24, 1);
}

/* bestsellers */
.bestsellers {
  clear: both;

  margin-top: 31px;
  margin-right: -9px;
  margin-left: -9px;
}

.bestsellers-item {
  position: relative;

  float: left;

  width: 267px;
  margin-right: 8px;
  padding-top: 9px;
  padding-right: 9px;
  padding-left: 9px;
}

.bestsellers-item:last-child {
  margin-right: 0;
}

.bestsellers-item::before {
  position: absolute;
  z-index: 1;

  content: "";

  width: 61px;
  height: 61px;

  background: url("../img/hit.png");
}

.price {
  position: absolute;
  top: 218px;

  margin-top: 0;

  font-size: 45px;
  font-weight: bold;
  line-height: 45px;

  text-shadow: 1px 1px 3px rgba(49,50,53,.5);
}

.sign {
  position: absolute;
  top: 223px;
  left: 125px;

  font-size: 30px;
  font-weight: bold;
  line-height: 45px;

  text-shadow: 1px 1px 3px rgba(49,50,53,.5);
}

.item-name {
  display: block;

  margin-top: 7px;

  text-align: center;
  text-decoration: none;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;

  color: #fff;
}

.item-review {
  position: absolute;
  top: 359px;
  left: 43px;

  display: none;
}

.item-review a {
  padding: 12px 16px;

  text-decoration: none;

  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

  color: #fff;
  border-radius: 16px;
  background: #f16642;
}

/* features */
.features {
  box-sizing: border-box;
  min-height: 306px;
  margin-top: 37px;
  padding: 25px 20px;

  color: #323232;
  border-radius: 15px;
  background: url("../img/features.jpg");
  background-color: #eadcc1;
}

.features h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.features-block {
  margin: 0;
  padding-left: 0;
}

.features-block li {
  position: relative;

  display: inline-block;
  vertical-align: top;

  width: 483px;
  margin-left: 57px;
  padding-top: 20px;

  font-size: 16px;
  line-height: 22px;
}

.features-1::before {
  position: absolute;
  top: 9px;
  left: -56px;

  content: url("../img/icon/features-icon-1.svg");
}

li.features-2 {
  width: 470px;
  margin-left: 80px;
}

li.features-3 {
  padding-top: 22px;
}

li.features-4 {
  width: 470px;
  margin-left: 80px;
  padding-top: 22px;
}

.features-2::before {
  position: absolute;
  top: 9px;
  left: -57px;

  content: url("../img/icon/features-icon-2.svg");
}

.features-3::before {
  position: absolute;
  top: 11px;
  left: -56px;

  content: url("../img/icon/features-icon-3.svg");
}

.features-4::before {
  position: absolute;
  top: 11px;
  left: -57px;

  content: url("../img/icon/features-icon-4.svg");
}

/* banner news */
.banners {
  position: relative;
  z-index: 1;

  margin-top: 43px;
}

.banners-bottom {
  margin-top: 40px;
}

.banner-bottom {
  box-sizing: border-box;
  width: 560px;
  min-height: 220px;
}

.banner-bottom h4 {
  margin: 7px 0;

  font-size: 16px;
  font-weight: 700;
  line-height: 16px;

  color: #323232;
}

.news {
  float: left;

  padding: 19px 240px 20px 20px;

  border-radius: 15px;
  background: url("../img/banner-news.jpg");
  background-color: #f8f7f4;
}

.news a {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;

  color: #323232;
}

.subscribe {
  float: right;

  padding: 5px 6px;

  border-radius: 15px;
  background: url("../img/banner-subscribe.png");
  background-color: #f8f7f4;
}

.subscribe-background {
  padding: 29px 20px 34px 20px;

  border-radius: 15px;
  background-color: #f8f7f4;
}

.subscribe p {
  margin: 0 0;

  font-size: 16px;
  line-height: 22px;

  color: #5a5a5a;
}

.form-subscribe {
  position: relative;
  margin-top: 35px;
}

.email-subscribe {
  box-sizing: border-box;
  width: 368px;
  margin-right: 7px;
  padding: 10px 14px;

  font: inherit;
  font-size: 16px;
  line-height: 24px;

  color: #323232;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
}

.button {
  padding: 10px 18px;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  color: #fff;
  border: none;
  border-radius: 100px;
  outline: none;
  background: linear-gradient(to bottom, #f26843 0%, #e74b36 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d74632 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(148, 39, 24, 1);
}

.btn-subscribe {
  max-width: 128px;
}

/* map */
#map {
  position: relative;

  width: 1200px;
  height: 430px;
  margin-top: 40px;
  margin-left: -27px;
}

.contact {
  position: absolute;
  right: 27px;
  left: auto;
  z-index: 5;

  width: 252px;
  min-height: 255px;
  margin-top: 62px;
  padding: 30px 25px 20px 25px;

  font-size: 14px;
  line-height: 20px;

  color: #323232;
  border-radius: 15px;
  background: #fdfefe;
}

.contact ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.contact li {
  margin-bottom: 3px;
}

.contact li:first-child {
  margin-bottom: 0;
  padding-right: 40px;
}

.contact li:nth-child(3) {
  margin-top: 18px;
}

.contact span {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.feedback-btn {
  display: block;

  margin-top: 25px;
  padding: 10px 19px;

  text-align: center;
  text-decoration: none;

  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

  color: #fff;
  border: none;
  border-radius: 20px;
  border-radius: 100px;
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74b36 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
}

.feedback-btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.feedback-btn:active {
  background: linear-gradient(to bottom, #d74632 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(148, 39, 24, 1);
}

.map {
  background-image: url("../img/map.jpg");
}

/* footer */
.main-footer {
  padding-top: 30px;
}

.footer-social {
  float: left;

  width: 350px;
  margin-left: 4px;
  padding-top: 9px;

  font-size: 0;
}

.footer-social a {
  font-size: 0;
}

.social-btn {
  display: inline-block;
  vertical-align: top;

  width: 31px;
  height: 31px;
  margin-right: 18px;

  font-size: 16px;
}

.tw {
  opacity: .8;
  border-radius: 50%;
  background-image: url("../img/icon/tw.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .5);
}

.tw:hover {
  opacity: 1;
  background-image: url("../img/icon/tw.svg");
  box-shadow: 0 0 0 5px rgba(255, 255, 255, .7),
  inset 0 1px 2px 0 rgba(136, 136, 136, 1);
}

.inst {
  opacity: .8;
  border-radius: 50%;
  background-image: url("../img/icon/inst.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .5);
}

.inst:hover {
  opacity: 1;
  background-image: url("../img/icon/inst.svg");
  box-shadow: 0 0 0 5px rgba(255, 255, 255, .7),
  inset 0 1px 2px 0 rgba(136, 136, 136, 1);
}

.fb {
  opacity: .8;
  border-radius: 50%;
  background-image: url("../img/icon/fb.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, .5);
}

.fb:hover {
  opacity: 1;
  background-image: url("../img/icon/fb.svg");
  box-shadow: 0 0 0 5px rgba(255, 255, 255, .7),
  inset 0 1px 2px 0 rgba(136, 136, 136, 1);
}

.vk {
  opacity: .8;
  border-radius: 50%;
  background-image: url("../img/icon/vk.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, .5);
}

.vk:hover {
  opacity: 1;
  background-image: url("../img/icon/vk.svg");
  box-shadow: 0 0 0 5px rgba(255, 255, 255, .7),
  inset 0 1px 2px 0 rgba(136, 136, 136, 1);
}

.footer-info {
  float: left;

  max-width: 540px;

  padding-top: 3px;
  padding-left: 68px;
}

.info {
  font-size: 0;
}

.info-left,
.info-right {
  display: inline-block;
  vertical-align: top;

  max-width: 180px;

  margin: 0;
  padding: 0;

  list-style: none;

  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.info-left {
  position: relative;
}

.info-left a,
.info-right a {
  text-decoration: none;

  border-bottom: 1px solid;
  border-bottom-color: rgba(255,255,255,.2);
}

.info-left li:first-child::before {
  position: absolute;
  top: 3px;
  left: -22px;

  content: " ";
  display: block;

  width: 15px;
  height: 13px;

  background: url("../img/icon/footer-heart.svg");
}

.info-left li:first-child {
  font-weight: 700;
}

.info-right {
  padding-left: 32px;
}

.info a {
  color: #fff;
}

.info li {
  padding-bottom: 4px;
}

.footer-copyright {
  float: right;

  width: 188px;
  margin-top: -11px;
  margin-bottom: 16px;

  font-size: 12px;
  line-height: 18px;

  color: #fff;
}

.footer-copyright p {
  margin: 0;
  margin-right: -5px;
}

.footer-copyright a {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;

  color: #fff;
}

.developer {
  text-decoration: none;

  border-bottom: 1px solid;
  border-bottom-color: rgba(255,255,255,.2);
}

.modal-feedback {
  position: fixed;
  top: 338px;
  left: 50%;
  z-index: 20;

  display: none;

  box-sizing: border-box;
  width: 477px;
  margin-left: -238px;
  padding: 16px 24px 27px 24px;

  color: #000;
  border-radius: 10px;
  background: #f8f7f4;
}

form .modal {
  font-family: inherit;
  font-weight: 400;
}

.modal-feedback p {
  margin: 0;

  font-size: 24px;
  font-weight: 500;
  line-height: 28px;

  color: #323232;
}

.modal input {
  display: block;

  width: 237px;
  margin-top: 20px;
  padding: 9px 14px;

  font-size: 16px;
  line-height: 24px;

  color: #323232;
  border: solid 1px #ccc;
  border-radius: 4px;
}

input::-webkit-input-placeholder { 
  color: #999999;
}

input::-moz-placeholder { 
  color: #999999;
}

input:-ms-input-placeholder { 
  color: #999999;
}

textarea::-webkit-input-placeholder { 
  color: #999999;
}

textarea::-moz-placeholder { 
  color: #999999;
}

textarea:-ms-input-placeholder { 
  color: #999999;
}

input:focus::-moz-placeholder { 
  color: transparent;
}

input:focus:-ms-input-placeholder { 
  color: transparent;
}

textarea:focus::-webkit-input-placeholder { 
  color: transparent;
}

textarea:focus::-moz-placeholder { 
  color: transparent;
}

textarea:focus:-ms-input-placeholder { 
  color: transparent;
}

input:focus::-webkit-input-placeholder { 
  color: transparent;
}

.modal input:hover {
  border: solid 1px #9a9a9a;
  box-shadow: 0 0 0 1px #9a9a9a;
}

.modal-content-close {
  position: absolute;
  top: 23px;
  right: 24px;

  width: 22px;
  height: 22px;

  cursor: pointer;

  font-size: 0;

  border: 0;
  outline: 0;
  background-color: transparent;
}

.modal-content-close::before,
.modal-content-close::after {
  position: absolute;

  content: "";

  width: 22px;
  height: 2px;

  border-radius: 1px;
  background-color: #000;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.text-feedback {
  width: 400px;
  margin-top: 20px;
  padding: 6px 14px 0 14px;

  resize: none;

  font-size: 16px;
  line-height: 24px;

  color: #323232;
  border: solid 1px #ccc;
  border-radius: 4px;
}

.text-feedback:hover {
  border: solid 1px #9a9a9a;
  box-shadow: 0 0 0 1px #9a9a9a;
}

.btn-modal {
  display: block;
  float: right;

  margin-top: 20px;
  padding: 10px 23px;

  text-shadow: none;
}

.label-name-feedback {
  position: absolute;
  top: 48px;
  left: 38px;

  display: none;

  font-size: 11px;
  line-height: 13px;

  color: #5b9ddf;
}

.label-email-feedback {
  position: absolute;
  top: 112px;
  left: 38px;

  display: none;

  font-size: 11px;
  line-height: 13px;

  color: #5b9ddf;
}

.label-text-feedback {
  position: absolute;
  top: 177px;
  left: 38px;

  display: none;

  font-size: 11px;
  line-height: 13px;

  color: #5b9ddf;
}

.name-feedback:focus + .label-name-feedback,
.email-feedback:focus + .label-email-feedback,
.text-feedback:focus + .label-text-feedback {
  display: block;
}

.modal-feedback-show {
  display: block;

  animation: zoomIn 1s;
}

@keyframes zoomIn {
  0% {
    transform: scale3d(.3, .3, .3);

    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19;

  display: none;

  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,.3);
}

.modal-overlay-show {
  display: block;
}

.shadow {
  box-shadow: inset 0 600px 400px -200px rgba(255,255,255,.2);
}

/* catalog */
.breadcrumbs {
  margin: 0;
  margin-top: -23px;
  margin-bottom: 1px;
  padding: 0;

  font-size: 0;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: top;

  margin-right: 7px;

  list-style: none;

  font-size: 14px;
}

.breadcrumbs a {
  text-decoration: none;

  font-size: 14px;
  line-height: 16px;

  color: #fff;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255,255,255,.2);
}

.breadcrumbs .active {
  border: none;
}

.breadcrumbs li::after {
  content: "»";

  margin-left: 8px;
}

.breadcrumbs li:last-child::after {
  content: "";
}

.feedback {
  display: none;
}

/* filters */
.filters {
  width: 900px;
  margin-top: 9px;

  font-size: 0;
}

.filter-block {
  display: inline-block;
  vertical-align: top;

  margin-top: 18px;
  margin-right: 14px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  color: #fff;
}

.top {
  padding-left: 16px;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.filter-block > label:first-child {
  display: block;
}

.popularity {
  margin-top: 5px;
  padding: 7px 15px 8px 11px;

  color: #fff;
  border: none;
  border-radius: 20px;
  outline: none;
  background: rgba(248,247,244,.2);
}

.popularity:hover {
  color: #323232;
  background: #fff;
}

option {
  color: #323232;
}

.fatness {
  position: relative;

  margin-top: 5px;
  padding: 9px 16px;

  color: #fff;
  border: none;
  border-radius: 20px;
  background: rgba(248,247,244,.2);
}

.fatness-radio {
  position: relative;

  margin-right: 16px;
  padding-left: 30px;

  cursor: pointer;
}

.fatness-radio:last-child {
  margin-right: 0;
}

.fatness-radio input[type="radio"] {
  display: none;
}

.fatness-radio input[type="radio"] + .radio-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 18px;
  height: 18px;

  border: 1px solid #fff;
  border-radius: 50%;
}

.fatness-radio input[type="radio"] + .radio-indicator:hover {
  box-shadow: 0 0 0 1px #fff;
}

.fatness-radio input[type="radio"]:checked + .radio-indicator::before {
  position: absolute;
  top: 4px;
  left: 4px;

  content: "";

  width: 10px;
  height: 10px;

  border-radius: 50%;
  background-color: #fff;
}

.fillers {
  position: relative;

  margin-top: 5px;
  padding: 9px 19px 9px 16px;

  color: #fff;
  border: none;
  border-radius: 20px;
  background: rgba(248,247,244,.2);
}

.fillers-checkbox {
  position: relative;

  margin-right: 16px;
  padding-left: 32px;

  cursor: pointer;
}

.fruit {
  margin-right: 18px;
  padding-left: 34px;
}

.syrups {
  margin-right: 16px;
}

.fillers-checkbox:last-child {
  margin-right: 0;
}

.fillers-checkbox input[type="checkbox"] {
  display: none;
}

.fillers-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 18px;
  height: 18px;

  border: 1px solid #f8f7f4;
  border-radius: 3px;
}

.fillers-checkbox input[type="checkbox"] + .checkbox-indicator:hover {
  box-shadow: 0 0 0 1px #fff;
}

.fillers-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  position: absolute;
  top: 8px;
  left: 3px;

  content: "";

  width: 5px;
  height: 2px;

  background-color: #f8f7f4;
}

.fillers-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  position: absolute;
  top: 7px;
  left: 5px;

  content: "";

  width: 10px;
  height: 2px;

  background-color: #f8f7f4;
}

.fillers-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

.fillers-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}

.button-filter {
  margin-top: 39px;
  padding: 7px 28px;

  cursor: pointer;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  color: #fff;
  border: none;
  border-radius: 20px;
  outline: none;
  background: rgba(248,247,244,.2);
  box-shadow: 0 0 0 2px #fff;
}

.button-filter:hover {
  color: #000;
  background: #fff;
}

.button-filter:active {
  color: #000;
  background: #fff;
  box-shadow: inset 0 2px 2px 1px #696969;
}

.filter-range-title {
  padding-left: 15px;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.filter-range-title input {
  width: 30px;

  color: #fff;
  border: none;
  outline: none;
  background: none;
}

.range-controls {
  position: relative;

  margin-top: 4px;
  padding: 16px 15px;

  border-radius: 20px;
  background: rgba(248,247,244,.2);
}

.range-controls .scale {
  width: 189px;
  height: 4px;

  background: rgba(255, 255, 255, .3);
}

.range-controls .bar {
  height: 4px;
  margin-right: 60px;
  margin-left: 30px;

  background: #fff;
}

.range-toggle {
  position: absolute;
  top: 8px;

  width: 4px;
  height: 4px;

  cursor: pointer;

  border: 8px solid #fff;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
}

.range-toggle:hover {
  box-shadow: 0 3px 1px 0 rgba(0, 1, 1, .2),
  0 0 0 1px #fff;
}

.range-toggle-min {
  left: 34px;
}

.range-toggle-max {
  left: 132px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* item-list */
.item-list {
  margin-top: 30px;

  font-size: 0;
}

.item {
  position: relative;

  display: inline-block;
  vertical-align: top;

  width: 267px;
  min-height: 405px;
  padding-top: 9px;
  padding-right: 13px;
  padding-left: 13px;

  font-size: 16px;
}

.item:nth-child(4n+1) {
  margin-left: -13px;
}

.item:nth-child(4n+4) {
  margin-right: -13px;
}


.item:nth-child(n+5) {
  margin-top: -52px;
}

.item:hover {
  z-index: 10;

  border-radius: 10px;
  background: rgba(255, 255, 255, .2);
}

.item-list-review {
  position: absolute;
  top: 353px;
  left: 43px;

  display: none;
}

.item-btn {
  padding: 12px 16px;

  text-decoration: none;

  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

  color: #fff;
  border-radius: 16px;
  border-radius: 100px;
  background: #f16642;
  background: linear-gradient(to bottom, #f26843 0%, #e74b36 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
}

.item-btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.item-btn:active {
  background: linear-gradient(to bottom, #d74632 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(148, 39, 24, 1);
}

.item:hover .item-list-review {
  z-index: 10;

  display: block;
}

.icon {
  margin-left: 5px;
}

/* item-navigation */
.item-navigation {
  padding: 0;
  padding-bottom: 30px;

  text-align: right;

  font-size: 0;

  border-bottom: solid 1px rgba(255, 255, 255, .3);
}

.item-navigation li {
  display: inline-block;
  vertical-align: top;

  margin-right: 2px;

  text-align: center;

  font-size: 0;
}

.item-navigation li:last-child {
  margin-right: 0;
}

.item-navigation a {
  display: inline-block;
  vertical-align: top;

  box-sizing: border-box;
  width: 26px;
  height: 26px;
  padding-top: 4px;

  text-decoration: none;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  color: #fff;
  border-radius: 50%;
}

a.current {
  color: #000;
  background: #fff;
}

.item-navigation a:hover {
  color: #000;
  background: rgba(255,255,255,.2);
}

a.prev:hover,
a.next:hover {
  background: none;
}

.disabled {
  opacity: .2;
  color: #fff;
}
